In [1]:
import pandas as pd

# Extract

In [2]:
path = '/kaggle/input/global-youtube-statistics-2023/Global YouTube Statistics.csv'
df = pd.read_csv(path, encoding="latin-1") # encoding para evitar o erro UnicadeDecodeError
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

# Transform
O objetivo é pegar os top 5 de algumas categorias.

In [3]:
top_subscribers = df.sort_values(by=["subscribers"], ascending=False)["Title"].head(5).tolist()
print(top_subscribers)

['T-Series', 'youtubemovies', 'MrBeast', 'Cocomelon - Nursery Rhymes', 'SET India']

In [4]:
top_views = df.sort_values(by=["video views"], ascending=False)["Title"].head(5).tolist()
print(top_views)

['T-Series', 'Cocomelon - Nursery Rhymes', 'SET India', 'Sony SAB', 'ýýý Kids Diana Show']

In [5]:
top_categories = df.sort_values(by=["video views"], ascending=False)["category"].drop_duplicates().head(5).tolist()
print(top_categories)

['Music', 'Education', 'Shows', 'People & Blogs', 'Sports']

In [6]:
top_earnings = df.sort_values(by=["highest_yearly_earnings"], ascending=False)["Title"].head(5).tolist()
print(top_earnings)

['ýýýýýýýýý KIMPRO', 'DaFuq!?Boom!', 'T-Series', 'KL BRO Biju Rithvik', 'Cocomelon - Nursery Rhymes']

In [7]:
top_countries = df.sort_values(by=["video views"], ascending=False)["Country"].drop_duplicates().head(5).tolist()

# Load
Aqui criei uma nova tabela para armazenar os resultados dos rankings.

In [8]:
from tabulate import tabulate # biblioteca para formatar tabelas

all_categories = [top_subscribers, top_views, top_categories, top_earnings, top_countries]

table = []

In [9]:
for i in range(5):
    aux_table = [item[i] for item in all_categories] # armazena o n° lugar cada categoria
    table.append([i+1]) # adiciona a classificação do ranking
    table[i].extend(item for item in aux_table) # adiciona todos os itens de n° lugar na tabela principal

In [10]:
headers = ["Ranking", "Top Inscritos", "Top Views", "Top Categorias", "Top remunerados", "Top países"]
print(tabulate(table, headers=headers))

  Ranking  Top Inscritos               Top Views                   Top Categorias    Top remunerados             Top países
---------  --------------------------  --------------------------  ----------------  --------------------------  -------------
        1  T-Series                    T-Series                    Music             ýýýýýýýýý KIMPRO            India
        2  youtubemovies               Cocomelon - Nursery Rhymes  Education         DaFuq!?Boom!                United States
        3  MrBeast                     SET India                   Shows             T-Series                    Russia
        4  Cocomelon - Nursery Rhymes  Sony SAB                    People & Blogs    KL BRO Biju Rithvik         Argentina
        5  SET India                   ýýý Kids Diana Show         Sports            Cocomelon - Nursery Rhymes  Turkey